<h1><b>Income Form Page</b></h1>
 <!-- @ description added amount filed to enter the amount
    @author jasmine-->
<div [formGroup]="group" id="income-form-page" class="form-control m-auto p-5">
    <div class="formGroup">
        <span><b>Amount</b></span>
         <input id="amount" formControlName="amount" type=" number" class=" form-control m-2" placeholder="Please Enter Amount">
             <div *ngIf="!group.get('amount').valid && group.get('amount').touched" class="text-right" style="color: red;">
              <span>Amount is required</span>
             </div>
    </div>
    
     <!-- @ description added Source 
    @author jasmine-->

    <div class="formGroup">
        <span><b>Source</b></span>
        <input id="source" formControlName="source" type="text" class="form-control m-2" placeholder="Please Enter Source">
      <div *ngIf="!group.get('source').valid && group.get('source').touched" class="text-right" style="color: red;">
       <span>Source is required</span>
      </div>
    </div>
    
     <!-- @ description added Date to select/pick the date and 
        used bsDatePicker to pick the date without any disturbances to third party
    @author jasmine-->
    
    <div class="formGroup">
        <span><b>Date</b></span>
        <input id="date" formControlName="date" type="date" placeholder="dd/mm/yyyy" class="form-control m-2"   bsdatepicker>
      <div *ngIf="!group.get('date').valid && group.get('date').touched" class="text-right" style="color: red;">
          <span>Date is required</span>
      </div>
    </div>
    
    <!-- @ description recieved by is used to select from which type we are using 
    @author jasmine-->
    <div class="formGroup">
         <span><b>Recieved By</b></span>
        <select id="recivedBy" formControlName="recivedBy" class=" form-control m-2"  placeholder="Recived By">
            <option>Real Estate</option>
            <option>Photograpy</option>
            <option>Web Design</option>
        </select>
        <div *ngIf="errorMessage" class="text-right" style="color: red;">
            <span  *ngIf="!group.get('recivedBy').valid && group.get('recivedBy').touched">Recived is required</span>
        </div>
     </div>
      <!-- @description added reset button to reset the page -->
    <!-- @ description added button to add the income
    @author jasmine-->

     <div>
         <button type="reset" class="btn btn-reset m-2" (click)="reset()">Reset</button>
        <button type="Add Income" class="btn btn-success m-2" (click)="addForm()">Add Income</button>
        
    </div>
   
</div>
