<p>report works!</p>

<!-- report page displays form data -->
<div style="height: 91vh;" class="d-flex flex-col justify-content-center">
  <div class="d-flex flex-wrap flex-row justify-content-center">

    <div class="card m-4 cardclass" style="width: 22rem; text-align: center;">
      <div class="card-header">
        <b>REPORT</b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let record of records">

          <!-- displays expenses data -->

          <div *ngIf="record.type === 'expenses'">
            <div style="float:left;">
              <div><b>{{ record.spentBy }}</b></div>
              <div style="font-style: italic">{{ record.description}}</div>
            </div>

            <div>
              <div style="color:aqua">you lent: {{ record.amount}}</div>
              <div style="color:aqua">date</div>
            </div>

          </div>

          <!-- displays income data -->

          <div *ngIf="record.type === 'income'">
            <div style="float:left;">
              <div><b>{{ record.recivedBy }}</b></div>
              <div style="font-style: italic">{{ record.source}}</div>
            </div>
            <div>
              <div style="color:aqua"> {{ record.amount}}</div>
              <div style="color:aqua">date</div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>


