<!-- using flexbox model for implementation -->
<div style="height: 91vh;" class="d-flex flex-col justify-content-center">
<div class="d-flex flex-wrap flex-row justify-content-center">
 
<!-- navigate to the expenses component   -->

<div class="card m-3 cardclass nav-card-width">
  <img class="card-img-top" src="https://www.taxscan.in/wp-content/uploads/2018/03/Expenses-ITAT-Taxscan.jpg" alt="Card image cap" height="200">
  <div class="card-body">
    <h5 class="card-title">Expenses</h5>
    <p class="card-text">“Do not cut down on your expenses.”</p>
    <a class="btn btn-dark card-btn" style = "color:white" (click)="addExpensesFunction()">Add Expenses</a>
  </div>
</div>

<!-- navigate to the income component  -->

<div class="card m-3 cardclass nav-card-width">
  <img class="card-img-top" src="https://www.finaco.in/upload/upload_finance_feed_img/fin_feed_462504.jpg" alt="Card image cap" height = "200">
  <div class="card-body">
    <h5 class="card-title">Income</h5>
    <p class="card-text">“Increase your income by other means”</p>
    <a class="btn btn-dark card-btn" style = "color:white" (click)="addIncomeFunction()">Add Income</a>
  </div>
</div>

<!-- displaying income and expenses using doughnutChartData -->

<div>
<div class="chart-wrapper chartclass">
  <canvas baseChart 
  [data]="doughnutChartData"
  [labels]="doughnutChartLabels"
  [chartType]="doughnutChartType">
</canvas>
</div>
</div>
</div>
</div>
